.navbar {
    background-color: rgba(255, 255, 255, 0.9);
}

.hero {
    width: auto;
    min-height: 50vh;
    background: linear-gradient(to bottom, transparent 60%, rgb(255, 255, 255)), url('https://images.unsplash.com/photo-1593374050127-ee5de3f82300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2015&q=80');
    background-size: cover;
}

.navbar-brand img {
    width: 100px;
}

.swiper {
    width: 600px;
    height: 300px;
}